body {
  background: #1a1a1a;
}


#rubik {
  position: fixed;
  background: black;
  padding: 8px;
  border-radius: 6px;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  margin: 4px;
  border-radius: 6px;
}

/* Couleurs */
.white  { background: white; }
.red    { background: #dc2626; }
.blue   { background: #2563eb; }
.green  { background: #16a34a; }
.orange { background: #f97316; }
.yellow { background: #facc15; }
